<div class="font-color-white" style="width: 90vw; height: 90vh;">

    <div class="row h-100">

        <!-- CZEŚĆ Z LEWEJ - SZUKAJKA I LISTA FRIENDSÓW  -->
        <div class="col-2 h-100">
            <app-search-bar (search)="filterUserContacts($event)"></app-search-bar>

            <!-- TU WSTAWIĆ KOMPONENT Z LISTĄ ZNAJOMYCH -->
            <div class="secondary-background secondary-border h-90 mt-5 p-0">
                <app-friend-list></app-friend-list>
            </div>
        </div>


        <!-- CZĘŚĆ GŁÓWNA -->
        <div class="col-10 h-100">

            <!-- IKONKI W PRAWYM GÓRNYM ROGU (TYPU WYLOGUJ ITD) -->
            <div class="d-flex justify-content-end">
                <app-invitations-button></app-invitations-button>
                <add-friend-button></add-friend-button>
                <button class="btn btn-secondary rounded-circle mr-2"> <fa-icon [icon]="faCog" size="lg" ></fa-icon></button>
                <app-log-out></app-log-out>
            </div>


            <!-- ŚRODEK - TU WSTAWIĆ KOMPONENT Z CZATEM -->
            <div class="secondary-background secondary-border mt-5 h-90">
              <app-chat></app-chat>
            </div>

        </div>

    </div>

</div>


