.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 5%;
}

.friend{
  padding-top: 5%;
  padding-bottom: 5%;
}

.friend.element:hover{
  background-color: rgba(78,84,97,1);
}
